{% extends "login.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card-content">
{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
  <div class="card-body">
    <form class="form-horizontal form-simple" method="POST" action="{% url 'account_login' %}" novalidate>
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <fieldset class="form-group position-relative has-icon-left mb-0">
        <input type="text" name="login" class="form-control form-control-lg" id="id_login" placeholder="Your Username" required>
        <div class="form-control-position">
          <i class="feather icon-user"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
        <input type="password" name="password" class="form-control form-control-lg" id="id_password" placeholder="Enter Password" required>
        <div class="form-control-position">
          <i class="fa fa-key"></i>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-6 col-12 text-center text-sm-left">
          <fieldset>
            <input type="checkbox" id="autoSizingCheck" class="chk-remember">
            <label for="remember-me"> Remember Me</label>
          </fieldset>
        </div>
        <div class="col-sm-6 col-12 text-center text-sm-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="feather icon-unlock"></i> Login</button>
    </form>
  </div>
</div>

{% endblock content %}
