{% load static %}
<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu font-large-1"></i></a></li>
        <li class="nav-item">
          <a class="navbar-brand" href="#"><img class="brand-logo" alt="logo" height="27" src='{% static "images/arrijal.png" %}'>
            <h2 class="brand-text">ChatBot</h2>
          </a>
        </li>
        <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div class="collapse navbar-collapse" id="navbar-mobile">

        <!-- Navbar left -->
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu"></i></a></li>
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon feather icon-maximize"></i></a></li>
          <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i class="ficon feather icon-search"></i></a>
            <div class="search-input">
              <input class="input" type="text" placeholder="Explore ..." tabindex="0" data-search="template-search">
              <div class="search-input-close"><i class="feather icon-x"></i></div>
              <ul class="search-list"></ul>
            </div>
          </li>
        </ul>

        <!-- Navbar Right -->
        <ul class="nav navbar-nav float-right">

          <li class="dropdown dropdown-user nav-item">
            {% if request.user.username %}
            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
              <div class="avatar avatar-online"><img src='{% static "app-assets/images/portrait/small/avatar-s-1.png" %}' alt="avatar"><i></i></div><span class="user-name">{{ request.user.username }}</span>
            </a>
            <div id="rightmost-dropdown" class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'users:detail' request.user.username %}">
                <i class="feather icon-user"></i>
                Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="feather icon-power"></i>
                Logout
              </a>
            </div>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn" type="button" name="button"> Log In </a>
            <button class="btn" type="button" name="button"> SignUp </button>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- END: Header-->
