<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="nav-item active"><a href="{% url 'home' %}"><i class="feather icon-home"></i><span class="menu-title" >Dashboard</span></a>
      </li>
      <li class="nav-item"><a href="{% url 'chatbot' %}"><i class="feather icon-message-square"></i><span class="menu-title" >ChatBot</span></a>
      </li>
    </ul>
  </div>
</div>
